.center {
	display:flex;
	justify-content: center;
}

.inner h6 {
	margin-top: 3.5px;
	margin-right:5px;
}

.center h4 {
	margin-top: 10px;
}

.content-wrapper {
	display:flex;
	justify-content: center;
	padding:10px;
}

.content-wrapper > div {
	margin:10px;
}