.criterio-wrapper {
	display: flex;
	align-items: center;
}

.criterio-peso-input {
	margin-top: 16px;
}

.criterio-delete-icon {
	margin-top: 16px;
}

.peso-label {
	margin-top:8px;
	display: inline-block;
}